										<!-- /// controller:  'AssetDetailDisuseCrtl' -  localtion: js/controllers/assetListCtrl.js /// -->
										<div class="panel panel-white no-padding no-border no-margin" ng-controller="AssetDetailDisuseCrtl">
											<div class="panel-body no-padding no-border no-margin">
												<div class="table-responsive border-1 margin-left-1 margin-right-1">
													<table ng-table="tableParamsDisuse" class="table" ng-class="isMobileDevice === true ? 'text-small' : ''">
														<tbody ng-repeat="p in $data">
															<tr id="tr{{p.asset_code + p.disuse_seq}}">
																<td class="rowTd padding-4" data-title="'자산번호'" sortable="'asset_code'">{{p.asset_code}}</td>
																<td class="rowTd padding-4" data-title="'SEQ'"      sortable="'disuse_seq'">{{p.disuse_seq}}</td>
																<td class="rowTd padding-4" data-title="'폐기일자'" sortable="'disuse_date'">{{p.disuse_date}}</td>
																<td class="rowTd padding-4" data-title="'폐기사유'" sortable="'disuse_reason'">{{p.disuse_reason}}</td>
																<td class="rowTd padding-4" data-title="'폐기내역'" sortable="'disuse_desc'">{{p.disuse_desc}}</td>
																<td class="rowTd padding-4" data-title="'담당자'"   sortable="'disuse_charger'">{{p.disuse_charger}}</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
